name: Pre-commit CI

on: [push]

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        continue-on-error: true

      - name: Auto-commit fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Apply pre-commit fixes
